<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446922751526-4tc36ngkttupmr4a8hoqesnu10q806n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446922751526-4tc36ngkttupmr4a8hoqesnu10q806n6</string>
	<key>API_KEY</key>
	<string>AIzaSyA9eT4Lw8m-6Ac9U5aymem4txDKVoQu3Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>446922751526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peter.DemoFirebase</string>
	<key>PROJECT_ID</key>
	<string>demogame-82af6</string>
	<key>STORAGE_BUCKET</key>
	<string>demogame-82af6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446922751526:ios:bbd66865bf6f5d83b9f0e7</string>
</dict>
</plist>